@charset "utf-8"

body 
    background-color: #fafabb
    a
        text-decoration: none
    font-family: "Cordona", "Arial", sans-serif
    
    
nav
    float: right
    a 
        display: block

.wrapper
    width: 500px
    margin-left: 200px
.site-title
    font-size: 1.8em
    font-weight: bold
    text-shadow: 1px 1px 4px #ffffff
.post-header
    h1
        font-size: 3em
.post-content
    h1
        font-size: 2em
    
    
    